@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #fff;
    margin: 0 auto;
    width: 100%;
    height: 13vh;
    border-bottom: 2px solid rgb(233, 232, 232);
}

.navbar img{
   height: 70px;
}

#logo{
    margin: 0 20px;
    }

.div {
    line-height: 40px;
}

.navbar h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.menuOculto {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2d0147;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menuOculto a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.menuOculto a:hover {
    color: #bd02ce;
}

.menuOculto .btnfechar {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

#principal {
    padding: 16px;
    transition: margin-left 0.5;
}

.barras { 
    top: 0;
    margin-right: 20px;
}


@media screen and(max-height: 450px){
    .menuOculto{padding-top: 15px;}
    .menuOculto a{font-size: 18;}
}


.header{
    display: flex;
    justify-content: center;
    min-height: 70VH;
}

.welcm {
    width: 600px;
}

.vote {
   display: flex;
    align-items: center;
}

.title {
    line-height: 40px;
}

.title h1 {
    color: #bd02ce;
    font-size: 35px;
}

.title button a {
    text-decoration: none;
    color: #fff;
    font-size: 2.2em;
    
}

.title button {
    background-color: #2d0147;
    padding: 15px;
    border-radius: 30px;
    border: none;
    transition: .3s;
}

.title button:hover {
    background-color: #51037e;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(21,0,34);
    background: linear-gradient(180deg, rgba(21,0,34,1) 9%, rgba(48,0,62,1) 51%, rgba(95,1,110,1) 76%, rgba(189,2,206,1) 100%);
    min-height: 70vh;  
}


.Go h1{
    font-size: 2.5em;
    color: #bd02ce;
}

.howuse{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bi-card-list , .bi-people , .bi-bar-chart  {
    color: #bd02ce;
}

.step h3{
    
    font-size: 1.8em;
    font-weight: 600;
    margin: 0 auto;
    
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    line-height: 20px;
    border-radius: 10px;
    
    
}

.step p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.passos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    min-height: 70vh;
}

.passo  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 55vh;
    transition: 0.3s;
    margin-top: 50px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.step-icon {
    color: #bd02ce;
    font-size: 5em;
    margin-bottom: 10px;
}

.step-description {
    text-align: center;
    font-size: 16px;
    color: #555;
}

footer{
    background-color: #2d0147;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #eaebff;
    }
    
    .icons{
        display: flex;
        margin-top: 30px;    
    }
    
    .icon:hover{
        color: #bd02ce;
    }
    
    
   




/*about page*/

.about{
    min-height: 85vh;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;    
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    transition: 0.3s;
    margin-top: 50px;
    line-height: 20px;
    box-shadow: 0.5px 1px 1px ;
    border-radius: 20px;
    background-color: #fff;
}

.card:hover{
    transform: scale(1.03);
    
}

.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.macaco img {
    min-height: 260px;
}

.card h2 {
   display:  flex;
   justify-content: start;
    font-size: 25px ;
    margin: 0 auto;
    margin-top: 10px;
    color: #000000;
}

.card p {
    display: flex;
    justify-content: start;
    color: #000000;
    margin: 14px;
}
